//Ficha de exercicios 1

/* Criando uma variável para definir a cor da border */
$borderColor: #ccc;
.box{
    border: 1px solid $borderColor;
}

/* descobre o que deves usar para gerar o css */
$backColor: orange;
$txtColor: blue;

///Exemplo 1 ------------------
@mixin find {
    .p{
        color: $txtColor;
        font-size: 14px;
        font-weight: bold;
    }
}

.foo{
    background: $backColor;
    @include find;
}
///Exemplo 1 ------------------
///Exemplo 2 ------------------
.foo{
    background: $backColor;
    .p{
        color: $txtColor;
        font-size: 14px;
        font-weight: bold;
    }
}
///Exemplo 2 ------------------

/* Usa uma divisão para definir o tamanho */
.html{
    font-size: (1em / 2em) * 1em;
}

/* descobre o que deves usar para gerar o css */
%shared-box{
        border: 10px solid gray;
        padding: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.alert-winning-user{
    border-color: green;
    @extend %shared-box;
}

.user-dialog-box{
    @extend %shared-box;
}

/* cria um mixin dialog-box() com um argumento para definir a cor da border */
$setBorder: 10px solid green;
@mixin dialog-box($argument){
    border: $argument;
}

.alert-winning-user {
    @include dialog-box(green);
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}