<ons-page id="Home">

    <ons-pull-hook id="pull-hook">
        Pull to refresh
    </ons-pull-hook>

    <ons-list>
        <ons-list-header>Home page</ons-list-header>
        <ons-list-item>Alice</ons-list-item>
        <ons-list-item>Bob</ons-list-item>
        <ons-list-item>Eve</ons-list-item>
    </ons-list>

    <script>
        ons.ready(function() {
            var list = document.querySelectorAll('ons-list > ons-list-item > div');
            list.forEach(function(element) {
                element.addEventListener('click', function(e) {
                    myNavigator.pushPage('./views/item.html', {
                        data: {
                            item: e.target.textContent
                        }
                    });
                })
            });

            var pullHook = document.getElementById('pull-hook');

            pullHook.addEventListener('changestate', function(event) {
                var message = '';

                switch (event.state) {
                    case 'initial':
                        message = 'Pull to refresh';
                        break;
                    case 'preaction':
                        message = 'Release';
                        break;
                    case 'action':
                        message = 'Loading...';
                        break;
                }

                pullHook.innerHTML = message;
            });

            pullHook.onAction = function(done) {
                setTimeout(done, 2000);
            };
        });
    </script>
</ons-page>