<ons-page id="Settings">
    <ons-list>
        <ons-list-header>Settings page</ons-list-header>
        <ons-list-item>
            <div class="center">
                Switch 1
            </div>
            <div class="right">
                <ons-switch id="1stSwitch" !checked></ons-switch>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">
                Switch 2
            </div>
            <div class="right">
                <ons-switch id="2ndSwitch" !checked></ons-switch>
            </div>
        </ons-list-item>
    </ons-list>

    <script>
        var btn1 = document.getElementById('1stSwitch');
        var btn2 = document.getElementById('2ndSwitch');
        btn1.addEventListener('change', function (e) {
            if (e.value == false) {
                btn2.setAttribute('disabled');
                btn2.removeAttribute('checked');
            }else{
                btn2.removeAttribute('disabled');
            }
        });
    </script>
</ons-page>