.floating-label {
    position: relative;
    margin-top: 20px;
}

.floating-input,
.floating-select {
    /*   font-size:14px; */
    font-size: 20px;
    /*   padding: 4px 4px; */
    /*   display:block; */
    width: 100%;
    height: 30px;
    /*   background-color: transparent; */
    border: none;
    /*   border-bottom:1px solid #757575; */
}

label {
    color: #999;
    /*   font-size:14px; */
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
    top: -18px;
    font-size: 14px;
    color: #5264AE;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
    top: -18px;
    font-size: 14px;
    color: #5264AE;
}

.floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
}