<ons-page id="Settings">
    <ons-list>
        <ons-list-header>Settings page</ons-list-header>
        <ons-list-item>
            <div class="center">
                Switch 1
            </div>
            <div class="right">
                <ons-switch id="1stSwitch" checked></ons-switch>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">
                Switch 2
            </div>
            <div class="right">
                <ons-switch id="2ndSwitch"></ons-switch>
            </div>
        </ons-list-item>
    </ons-list>

    <script>
        var btn1 = document.getElementById('1stSwitch');
        var btn2 = document.getElementById('2ndSwitch');
        ons.ready(function() {
            if (btn1.hasAttribute('checked')) {
                btn2.removeAttribute('disabled');
            }
        })

        btn2.addEventListener('change', function(e) {
            if (e.value == true) {
                btn2.setAttribute('checked');
            } else {
                btn2.removeAttribute('checked');
            }

        })

        btn1.addEventListener('change', function(e) {
            if (e.value == true) {
                btn2.removeAttribute('disabled');
            } else {
                btn2.setAttribute('disabled');
                btn2.removeAttribute('checked');
            }
        });
    </script>
</ons-page>